.headerbar__wrapper {
    background: #F3EBEF;
    display: flex;
    justify-content: space-between;
}
.headerbar__welcome {
    color: #4D3944;
    font-size: 1.2em;
    padding: 10px;
}
.headerbar__sidemenu {
    color: #4D3944;
    cursor: pointer;
    font-size: 1.5em;
    padding: 10px;
}