@import '../../globals/variables.scss';

.sidebar {
    background: $contrast01;
    color: $light;
    min-height: 100vh;
    width: 100%;
}
.sidebar__list {
    padding-top: 100px;
    list-style: none;
} 
.sidebar__element {
    padding: 2px 0;
} 
.sidebar__link {
    background: rgba(255,255,255,.05);
    color: #E3DA9A;
    display: block;
    font-size: 1em;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s ease-in;
    &:hover {
        background: rgba(255,255,255,.1);
    }
}