.root_wrapper {
    display: flex;
}

.layout_main__sidebar {
    flex: 1;
    max-width: 220px;
    min-width: 200px;
}

.layout_main__content {
    flex: 3;
}

.layout_main__main {
    padding: 20px;
}